.training {
  @include centerise();
  h2 {
    text-align: center;
    @media (max-width: 768px) {
      font-size: 2em;
    }
  }
  h3 {
    @media (max-width: 768px) {
      font-size: 1.5em;
    }
  }
  &__add-btn {
    @include button-styles($background: $secondary-btn, $padding: 20px);
    &:hover {
      background-color: $secondary-btn-hovered;
    }
    &:active {
      background-color: $secondary-btn-pressed;
    }
  }
  &__wrapper {
    @include flex-type($justify: space-between, $align: flex-start);
    margin: 2% 0;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  .search {
    width: 60%;
    &__inputs {
      @include flex-type();
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
    @media (max-width: 768px) {
      width: 90%;
    }
    .input-block {
      input {
        width: 75%;
        border: none;
        background-color: $input-background;
        &:hover {
          color: $input-hover;
        }
        &:focus {
          color: $text-color;
          background-color: #fff;
        }
        &:valid {
          border: 1px solid $secondary-btn;
          color: $secondary-btn-hovered;
        }
        &:not(:placeholder-shown):invalid {
          border: 1px solid $important-btn-hovered;
          color: $important-btn;
        }
      }
    }
    button {
      margin-top: 2%;
      @media (max-width: 768px) {
        margin-top: 10%;
      }
      @include button-styles($background: $primary-btn);
      &:hover {
        background-color: $primary-btn-hovered;
      }
      &:active {
        background-color: $primary-btn-pressed;
      }
      &:disabled {
        opacity: 0.4;
      }
    }
  }
  .date-picker {
    width: 40%;
    @include flex-type();
    @media (max-width: 768px) {
      width: 80%;
      flex-direction: column;
      align-items: baseline;
    }
  }
  .table {
    width: 100%;
    @media (max-width: 768px) {
      text-align: center;
    }
    tbody {
      tr {
        td:nth-child(2) {
          font-weight: 700;
        }
        td:nth-child(3) {
          color: $primary-btn;
          background-image: url(./../../assets/images/icons/table-type.svg);
          background-repeat: no-repeat;
          background-position: left;
          background-size: 40%;
        }
      }
    }
  }
}
.react-datepicker {
  &-wrapper {
    input {
      border: 1px solid $primary-btn;
      border-radius: 5px;
      padding: 5%;
    }
    &:first-of-type::before {
      content: "From";
      font-weight: 700;
    }
    &:nth-of-type(2)::before {
      content: "To";
      font-weight: 700;
    }
  }
  &__navigation {
    position: relative;
    right: 100px;
  }
}
