@import "../../styles/variables";
@import "../../styles/mixins";

.change-password {
  width: 90%;
  margin: 5% auto;
  margin-bottom: 30%;
  h3 {
    font-family: $montserrat;
    font-size: 2.29em;
    line-height: 2.18em;
  }
  h4 {
    width: 30%;
    font-family: $montserrat;
    font-size: 1.29em;
    line-height: 1.27em;
  }
  &__wrapper {
    @include flex-type($justify: flex-start, $align: flex-start);
  }
  &__form {
    width: 60%;
    @include flex-type($direction: column, $gap: 15px);

    .input-block {
      @include flex-type($direction: column, $align: stretch, $gap: 2px);
      width: 100%;
      label {
        font-size: 1.14em;
        line-height: 1.18em;
        font-weight: 700;
        align-self: baseline;
      }
      input {
        width: 75%;
        font-size: 1.14em;
        line-height: 1.18em;
        border-radius: 6px;
        outline: none;
        padding: 1%;
        border: none;
        background-color: $input-background;
        &:hover {
          color: $input-hover;
        }
        &:focus {
          color: $text-color;
        }
      }
    }
  }
  &__btns {
    @include flex-type();
    width: 45%;
    button:first-child {
      @include button-styles($background: transparent, $text: $footer-input);
      padding: 3%;
      &:hover {
        background-color: $modal-btn-hovered;
      }
      &:active {
        background-color: $modal-btn-pressed;
      }
    }
    button:last-child {
      @include button-styles($background: $primary-btn);
      width: 55%;
      padding: 3%;
      &:hover {
        background-color: $primary-btn-hovered;
      }
      &:active {
        background-color: $primary-btn-pressed;
      }
    }
  }
  &__success {
    width: 90%;
    margin: 10% auto;
    @include flex-type($direction: column, $gap: 50px);
    h2 {
      font-family: $montserrat;
      font-size: 3.43em;
      line-height: 3.09em;
    }
    p {
      font-size: 1.29em;
      line-height: 1.27em;
    }
    button {
      @include button-styles(
        $background: $primary-btn,
        $size: 1.29em,
        $line: 28px
      );
      &:hover {
        background-color: $primary-btn-hovered;
      }
      &:active {
        background-color: $primary-btn-pressed;
      }
    }
  }
}
