.change-password {
  @include centerise();
  margin-bottom: 30%;
  padding: 5%;
  h4 {
    width: 30%;
  }
  &__wrapper {
    @include flex-type($justify: flex-start, $align: flex-start);
  }
  &__form {
    width: 60%;
    @include flex-type($direction: column, $gap: 15px);

    .input-block {
      input {
        width: 75%;
        border: none;
        background-color: $input-background;
        &:hover {
          color: $input-hover;
        }
        &:focus {
          color: $text-color;
        }
      }
    }
  }
  &__btns {
    @include flex-type();
    width: 45%;
    button:first-child {
      @include button-styles($background: transparent, $text: $footer-input);
      padding: 3%;
      &:hover {
        background-color: $modal-btn-hovered;
      }
      &:active {
        background-color: $modal-btn-pressed;
      }
    }
    button:last-child {
      @include button-styles($background: $primary-btn);
      width: 55%;
      padding: 3%;
      &:hover {
        background-color: $primary-btn-hovered;
      }
      &:active {
        background-color: $primary-btn-pressed;
      }
    }
  }
  &__success {
    @include centerise($width: 90%, $margin: 10%);
    @include flex-type($direction: column, $gap: 50px);
    p {
      font-size: 1.29em;
      line-height: 1.27em;
    }
    button {
      @include button-styles(
        $background: $primary-btn,
        $size: 1.29em,
        $line: 28px
      );
      &:hover {
        background-color: $primary-btn-hovered;
      }
      &:active {
        background-color: $primary-btn-pressed;
      }
    }
  }
}
