@import "../../styles/variables";
@import "../../styles/mixins";

.blog {
  @include centerise($width: 80%);
  @include flex-type($direction: column);
  h2 {
    @media (max-width: 768px) {
      font-size: 2em;
    }
  }
  &__wrapper {
    @include flex-type($wrap: wrap);
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  .box {
    width: 30%;
    border: solid 1px $footer-line;
    border-radius: 5%;
    padding: 1%;
    &:hover {
      @include mousehover();
    }
    @media (max-width: 768px) {
      width: 90%;
    }
    img {
      width: 100%;
    }
  }
}
