@mixin centerise($width: 90%, $margin: 0) {
  width: $width;
  margin: $margin auto;
  position: relative;
}

@mixin flex-type(
  $justify: space-around,
  $align: center,
  $gap: 20px,
  $wrap: nowrap,
  $direction: row
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

@mixin button-styles(
  $background,
  $text: #fff,
  $size: 1.14em,
  $padding: 16px,
  $line: 26px
) {
  background-color: $background;
  color: $text;
  border: none;
  font-size: $size;
  border-radius: 6px;
  padding: 1% $padding;
  line-height: $line;
  cursor: pointer;
}

@mixin heading-styles($size, $line) {
  font-family: $montserrat;
  font-size: $size;
  line-height: $line;
}

@mixin mousehover() {
  transform: scale(1.2);
  transition-duration: 2s;
  cursor: pointer;
}
