@mixin flex-type(
  $justify: space-around,
  $align: center,
  $gap: 10px,
  $wrap: nowrap,
  $direction: row
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

@mixin button-styles(
  $background,
  $text: #fff,
  $size: 1.14em,
  $padding: 16px,
  $line: 26px
) {
  background-color: $background;
  color: $text;
  border: none;
  font-size: $size;
  border-radius: 6px;
  padding: 0 $padding;
  line-height: $line;
}
