$primary-btn: #6355d8ff;
$primary-btn-hovered: #4d3ed3ff;
$primary-btn-pressed: #3d2dc7ff;
$secondary-btn: #60cfa5ff;
$secondary-btn-hovered: #36b584ff;
$secondary-btn-pressed: #2f9c72ff;
$important-btn: #ed5d56ff;
$important-btn-hovered: #f22128ff;
$important-btn-pressed: #d20c13ff;
$purple: #d532d0ff;
$text-color: #171a1fff;
$subheading-color: #565e6cff;
$footer-background: #fafafbff;
$footer-line: #dee1e6ff;
$sign-btn-hovered: #e1dff8ff;
$sign-btn-pressed: #cfcbf3ff;
$input-background: #f3f4f6ff;
$input-hover: #bcc1caff;

$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;
