.header {
  position: relative;
  border-bottom: 1px solid $footer-line;
  padding: 0 1%;
  position: sticky;
  top: 0;
  @include flex-type();
  background-color: #fff;
  z-index: 1;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;
    width: 100;
  }
  &__logo {
    @media (max-width: 768px) {
      display: none;
    }
  }
  nav {
    margin-right: auto;
  }
  ul {
    margin-left: auto;
    @include flex-type();
    @media (max-width: 768px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    li {
      @media (max-width: 768px) {
        width: 40%;
        text-align: center;
      }
    }
  }
  &__btns {
    @media (max-width: 768px) {
      height: 20px;
    }
  }

  &__sign-btn {
    @include button-styles(
      $background: #fff,
      $text: $primary-btn,
      $size: 1em,
      $padding: 12px,
      $line: 22px
    );
    &:hover {
      background-color: $sign-btn-hovered;
    }
    &:active {
      background-color: $sign-btn-pressed;
    }
  }
  &__join-btn {
    @include button-styles(
      $background: $primary-btn,
      $size: 1em,
      $padding: 12px,
      $line: 22px
    );
    &:hover {
      background-color: $primary-btn-hovered;
    }
    &:active {
      background-color: $primary-btn-pressed;
    }
  }
  &__box {
    @include flex-type();
    font-weight: 700;
    img {
      border-radius: 50%;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  &__miniProfile {
    position: absolute;
    border-radius: 6px;
    top: 10%;
    right: 2%;
    padding: 1%;
    background-color: #fff;
    box-shadow:
      0px 4px 9px #171a1f,
      0px 0px 2px #171a1f;
    @media (max-width: 768px) {
      top: 1%;
      left: 1%;
    }
    &-header {
      border-bottom: 1px solid $footer-line;
      margin-bottom: 5%;
      display: grid;
      grid-template-areas:
        "a b b"
        "a c c";
      gap: 10px;
      img {
        grid-area: a;
        border-radius: 50%;
      }
      h4 {
        grid-area: b;
      }
      p {
        grid-area: c;
      }
    }
    a {
      margin-top: 5%;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &-footer {
      margin-top: 5%;
      border-top: 1px solid $footer-line;
    }
  }
}
