.login {
  @include centerise($width: 25%, $margin: 10%);
  text-align: center;

  &__header {
    font-family: $montserrat;
    p {
      font-size: 1.43em;
      line-height: 1.36em;
      color: $subheading-color;
    }
  }
  &__form {
    margin: 2% auto;
    @include flex-type($direction: column);

    .input-block {
      input {
        background-color: $input-background;
        border-width: 0px;
        padding-left: 30px;
        background-image: url(../../assets/images/icons/user.svg);
        background-repeat: no-repeat;
        background-position: left;
        &:hover {
          color: $input-hover;
        }
        &:focus {
          color: $text-color;
          background-color: #fff;
        }
      }
      &:last-of-type {
        input {
          background-image: url(../../assets/images/icons/lock.svg);
          background-repeat: no-repeat;
        }
      }
    }
  }
  &__btn {
    @include button-styles($background: $primary-btn);
    width: 100%;
    padding: 2%;
    &:hover {
      background-color: $primary-btn-hovered;
    }
    &:active {
      background-color: $primary-btn-pressed;
    }
  }
  &__footer {
    p:first-child {
      margin: 5% auto;
      color: $subheading-color;
      font-size: 0.86em;
      line-height: 0.91em;
      font-weight: 700;
    }
    a {
      color: $primary-btn;
      font-weight: 700;
    }
  }
}
