@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  margin-top: 10%;
  background-color: $footer-background;
  padding: 5%;
  &__wrapper-top {
    @include flex-type($align: flex-start);
  }
  &__wrapper-bottom {
    @include flex-type();
  }
  hr {
    margin: 1% auto;
    border-color: $footer-line;
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 5% auto;
    a {
      text-decoration: none;
      color: $text-color;
    }
  }
  h3 {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 1.43em;
    line-height: 1.36em;
  }
  &__subscribe-title {
    color: $primary-btn;
  }
}
