@import "../../styles/variables";
@import "../../styles/mixins";

.home {
  @include centerise();
  @media (max-width: 768px) {
  }
  text-align: center;
  &__welcome {
    @include flex-type($direction: column);
    h1 {
      @media (max-width: 768px) {
        font-size: 2em;
      }
    }
    p {
      width: 50%;
      font-size: 1.43em;
      line-height: 1.36em;
      color: $footer-input;
      @media (max-width: 768px) {
        width: 80%;
      }
    }
  }
  &__join {
    @include flex-type($direction: column, $gap: 0);
    background-image: url(./../../assets/images/home-join.png);
    background-size: cover;
    padding: 2%;
    h2 {
      color: $primary-btn;
    }
    p {
      width: 40%;
      font-size: 1.29em;
      line-height: 1.27em;
    }
    &-btn {
      margin: 2% auto;
      @include button-styles(
        $background: $primary-btn,
        $size: 1.29em,
        $line: 28px
      );

      &:hover {
        background-color: $primary-btn-hovered;
      }
      &:active {
        background-color: $primary-btn-pressed;
      }
    }
  }
  &__image {
    margin: 10% auto;
    img {
      @media (max-width: 768px) {
        width: 80%;
      }
    }
  }
  &__new {
    @include flex-type($direction: column);
    h2 {
      @media (max-width: 768px) {
        font-size: 2em;
      }
    }

    &-tag {
      width: 40%;
      font-size: 1.29em;
      line-height: 1.27em;
      color: $footer-input;
      @media (max-width: 768px) {
        width: 80%;
      }
    }
    &-wrapper {
      @include flex-type();
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        width: 80%;
      }
    }
    &-btn {
      margin-top: 5%;
      @include button-styles(
        $background: $primary-btn,
        $size: 1.14em,
        $line: 26px
      );

      &:hover {
        background-color: $primary-btn-hovered;
      }
      &:active {
        background-color: $primary-btn-pressed;
      }
    }
  }
}

.box {
  text-align: left;
  padding-right: 5%;
  @media (max-width: 768px) {
    padding: 0;
    width: 80%;
  }
  img {
    width: 90%;
  }
  &__tag {
    color: $primary-btn;
    font-size: 1.14em;
    line-height: 1.18em;
  }
  &__info {
    @include flex-type($justify: space-between);
    span:first-child {
      color: $footer-input;
    }
    span:last-child {
      font-size: 0.86em;
      line-height: 0.91em;
      border-radius: 14px;
      background-color: $input-background;
      padding: 2%;
    }
  }
}
